<head>

<%= stylesheet_link_tag "result", media: "all", "data-turbolinks-track" => "true" %>
</head>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			de
			<div class="row">
				<div class="col-lg-6">
					sz
				</div>
				<div class="col-lg-6">
					sz
				</div>
			</div>
		</div>
	</div>
</div>